@model Movie
<!--provides input fields and populates them so the user can know what they are changing-->

<form asp-action="EditMoviePost" method="post">
    <div asp-validation-summary="All">

        <div class="alert-dark">
            <label asp-for="Category">Movie Category:</label>
            <input asp-for="Category" value="@Model.Category" />
        </div>
        <div class="alert-dark">
            <label asp-for="Title">Name of Movie:</label>
            <input asp-for="Title" value="@Model.Title" />
        </div>
        <div class="alert-dark">
            <label asp-for="Year">Release Year:</label>
            <input asp-for="Year" value="@Model.Year" />
        </div>
        <div class="alert-dark">
            <label asp-for="Director">Director:</label>
            <input asp-for="Director" value="@Model.Director" />
        </div>
        <div class="alert-dark">
            <label asp-for="Rating">Rating:</label>
            <select asp-for="Rating">
                <option value="">Select One</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
        </div>
        <div class="alert-dark">
            <label asp-for="Edited">Has it been edited:</label>
            <select asp-for="Edited">
                <option value="">Select One</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="alert-dark">
            <label asp-for="LentTo">Lent to:</label>
            <input asp-for="LentTo" value="@Model.LentTo" />
        </div>
        <div class="alert-dark">
            <label asp-for="Notes">Notes:</label>
            <input asp-for="Notes" value="@Model.Notes" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit your changes!</button>
</form>

